{% extends "theme/base.html" %}
{% load staticfiles %}
{% load static %}

<title>{% block title %}ACE/SCISAT - The Atmospheric Chemistry Experiment{% endblock title %}</title>

{% block breadcrumb__links %}
  <li class="breadcrumb__primary"><a href="{% url 'home:index' %}">Home</a></li>
  <li class="breadcrumb__addon"><i class="fa fa-angle-double-right"></i></li>
  <li class="breadcrumb__addon"><span><a href="{% url 'montreal:index' %}">Montreal Protocol Metrics</a></span></li>
{% endblock breadcrumb__links %}

{% block content %}
<h2>The Atmospheric Chemistry Experiment</h2>
    <div>
    <p class="text">
	The Atmospheric Chemistry Experiment (ACE) monitors gases included in the Montreal Protocol. 
    </p>
    <p>
        This website is currently under construction.
    </p>
    </div>
{% endblock content %}
