.mtg_list {
list-style-type: none;
}

.mtg_grid {
display: grid;
grid-template-columns: 50% 50%;
}

.address {
background-color: #ffee8f;
border: 1px solid black;
}

.map {
position: relative;
top: -20px;
}

.transport_grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto;
grid-row-gap: 30px;
grid-column-gap: 30px;
background-color: #ffee8f;
padding: 10px;
border: 1px solid black;
}

.transport-item {
padding: 0 15px;
}

.rental {
grid-row: 1 / 3;
grid-column: 1;
}

.air {
grid-row: 1;
grid-column: 2;
}

.taxi {
grid-row: 2;
grid-column: 2;
}

.rail {
grid-row: 2;
grid-column: 3;
}

.bus {
grid-row: 1 / 2;
grid-column: 3;
}